astroid==2.4.2
click==7.1.2
configobj==5.0.6
cycler==0.10.0
Flask==1.1.2
greenlet==0.4.16
ino==0.3.6
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
msgpack==1.0.0
neovim==0.3.1
neovim-remote==2.4.0
numpy==1.19.1
ordereddict==1.1
pandas==1.1.0
parso==0.7.1
Pillow==7.2.0
pluggy==0.13.1
psutil==5.7.2
pylint==2.5.3
pynvim==0.4.1
pyparsing==2.4.7
pyserial==3.4
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
pytz==2020.1
scipy==1.5.2
seaborn==0.10.1
six==1.15.0
toml==0.10.1
ujson==1.35
Werkzeug==1.0.1
wrapt==1.12.1
